body, p, li, a { font-family: Myriad Pro;font-size:13pt;}
h1, h2, h3 { font-family: Myriad Pro, arial, serif; margin-top: 0px;}
/*colors: #30A8C0, #D8D8C0, #545454*/
body { margin:0;padding:0;background-color: #545454;}
ul {list-style-type:none;margin:0;padding:0;}

a:link {text-decoration:none;}    /* unvisited link */
a:visited {text-decoration:none;} /* visited link */
a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

div.wicket-aa{
	font-size: 12px;
	background-color: #E7E7E7;
	border-width: 1px;
	border-color: #48B2CC;
	border-style: solid;
	padding: 2px;
	margin: 1px 0 0 0;
	text-align: left;
}

div.wicket-aa ul{
	list-style: none;
	padding: 2px;
	margin: 0;
	
}

div.wicket-aa ul li.selected{
	background-color: #30A8C0;
	padding: 2px;
	margin: 0;
}

#main_layout{
	width: 1000px;
	height: 667px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
	background-color: #222222;
}



#border_left{
	background-image: url('border-verlauf-left.png');
	width : 30px;
	height: 667px;
	margin: 0 auto;
	background-repeat:repeat-y;
	float: left;
}

#border_right{
	background-image: url('border-verlauf-right.png');
	width : 30px;
	height: 667px;
	margin: 0 auto;
	background-repeat:repeat-y;
	float: right;
}

#header_titel{
	width: auto;
	border-bottom: 1px solid;
	
}

#titel{
	float: left;
	color: #D8D8C0;
	font-size: 24pt;
	margin-left: 10px;
	margin-bottom: 0px;
	
	
}

#header_navi{
	background-color: #30A8C0;
	float: right;
	width: 750px;
	height: 40px;
	position: relative;
	display: inline-block;
}

#main_container_content{
	width: 940px;;
	height: 587px;
	margin-top: 40px;
	margin-left: auto;
    margin-right: auto;
}

#navigation{
	width: 190px;
	height: 587px;
	background-color: #30A8C0;
	float: left; 
}

#main_footer{
	background-color: #AAA;
	width: auto;
	height: 38px;
	float: center;
	margin-left: 30px;
	margin-right: 30px;
	border-top: 1px solid;
}

#search_field{
	display: inline-block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

#header_buttons{
	display: inline-block;
	float: left;
	margin-top: -5px;
	margin-left: 10px;
	height: 40px;
}

#searh_display{
	background-color: #E7E7E7;
	border-color: #48B2CC;
}

#left_buttons{
	margin-left: 10px;
	margin-top: 10px;
}

#main_content{
	width: 780px;
	height: 587px;
	margin-left: 190px;
	margin-top: 40px;
}

#footer_text{
	float: right;
	margin: 3px 10px 0 0;
}